body {
	color: #000;
	background-color: transparent;
	background: transparent;
}

.footer {
    color: #fff;
    background-color: #000;
}

.footer:before {
}

.b-title-page {
    background-image: url(../images/bg.png);
    padding-left: 0;
}

.navbar {
    padding-top: 0px;
}

.header-navibox-1, .header-navibox-2, .header-navibox-3, .header-navibox-4 {
    padding: 0;
}


.b-team__inner .ui-title-inner {
    font-size: 20px;
}
.b-team__category {
    font-size: 14px;
}

.section-type-2 {
    padding: 92px 120px 56px;
}

.header {
	min-height: 96px;
	background: #000000;
}

.navbar .navbar-nav > li > a {
    font-size: 15px;
}

body:not(.header-demo) .header.navbar-scrolling {
    background-color: #000000;
}

.header-navibox-2, .header-navibox-3, .header-navibox-4 {
    padding-top: 28px;
}

body:not(.header-demo) .header.header.navbar-scrolling .navbar {
    border-bottom: transparent;
    border-bottom: none;
}

.main-slider .sp-next-arrow, .main-slider .sp-previous-arrow {
    /*background-color: #D7B740;*/
    background-color: transparent;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
	color: #D7B740;
}

.footer {
    padding-top: 30px;
}

.footer:before {
    top: -20px;
    height: 100px;
    margin-left: -200px;
    border-radius: 50%;
    /*background-color: #1f1f1f;*/
    background-color: #000;
    content: '';
}

.footer__main {
    padding-bottom: 16px;
}

.footer__logo {
    margin-bottom: 24px;
}

.footer__bottom {
    background-color: #000;
}

.footer .footer-form {
    margin-bottom: 0;
}
.footer .footer-section {
    margin-top: 35px;
}

.section-default {
    padding-top: 36px;
    padding-bottom: 36px;
}

.b-blockquote-3 .b-blockquote__cite {
    padding-left: 0;
}

.b-title-page__title {
    margin-top: 0;
}

.ui-form input:focus, .ui-form textarea:focus {
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}

.ui-form input:focus, .ui-form textarea:focus, .ui-form select:focus {
outline-offset: 0px !important;
outline: none !important;
}

.navbar .navbar-nav > li > a {
    color: #bb8632;
}

.toggle-menu-button .toggle-menu-button-icon span {
    background: #bb8632;
}

body:not(.header-demo) .navbar-scrolling * {
    color: #bb8632;
}

body:not(.header-demo) .header.navbar-scrolling .navbar .navbar-nav > li > a {
    color: #bb8632;
}

body:not(.header-demo) .header.navbar-scrolling .navbar .toggle-menu-button .toggle-menu-button-icon span {
    background: #bb8632;
}


.main-color {
    color: #bb8632;
}

body {
    /*color: #bb8632;*/
}


.parallax {
    background-attachment: initial;
    background-size: initial;
}
.b-title-page {
    background-color: #000;
    background-image: url(../images/bg-smaller.png);
    /*background-image: url(assets/images/bg-smaller.png);*/
    /*padding-left: 0;*/
    padding: 70px 0 60px 0;
    background-position: center center;
}

@media (min-width: 640px) {
    .content-section {
        min-height: 360px;
    }
}

@media (min-width: 992px) {
    .col-md-offset-2 {
        margin-left: 12.66666667%;
    }
    .col-md-8 {
        width: 68.66666667%;
    }

    .parallax {
      text-align: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center center;
      /*background-size: cover;*/
    }
    .b-title-page {
      background-image: url(../images/bg.png);
      /*background-image: url(assets/images/bg.png);*/
    }
}
